.text {
  margin: 0;
  font-size: 12px;
  @media #{$breakpointTablet} {
    font-size: 14px;
  }
  @media #{$breakpointDesktop} {
    font-size: 18px;
  }

  &--dark {
    color: $gray-33;
  }

  &--light {
    color: $gray-85;
  }
}


