footer.footer.grid__footer
  div.footer__inner
    ul.footer__nav
      li.footer__nav-item
        a.footer__nav-link Помощь
      li.footer__nav-item
        a.footer__nav-link Обратная связь
      li.footer__nav-item
        a.footer__nav-link Разработчикам
      li.footer__nav-item
        a.footer__nav-link Условия использования
      li.footer__nav-item
        a.footer__nav-link(href="https://docviewer.yandex.ru/view/1130000031416124/?*=uB3JoP5Ohgv16%2BykgkJXPyKzzv17InVybCI6InlhLXdpa2k6Ly93aWtpLWFwaS55YW5kZXgucnUvc2hyaS0yMDE4LWlpL2hvbWV3b3JrL2FkYXB0aXZuYWphLXZqb3JzdGthL2xpY2Vuc2UucGRmIiwidGl0bGUiOiJsaWNlbnNlLnBkZiIsInVpZCI6IjExMzAwMDAwMzE0MTYxMjQiLCJ5dSI6IjQ0OTcyNDQxMjE0ODcwMTIyMTQiLCJub2lmcmFtZSI6ZmFsc2UsInRzIjoxNTM4NzUxNTA1Njc1fQ%3D%3D" target="_blank") Авторские права
    div.copyright
      p.copyright__date &copy; 2001&ndash;
        span.copyright__currentyear.currentyear
      a.copyright__link(href='https://yandex.ru' target='_blank') ООО &laquo;Яндекс&raquo;