$primary: #FFD93E;
$primary-darken: #FFCD00;

$warning: #DB5341;

$black: #000000;
$white: #FFFFFF;

$gray-85: #858585;
$gray-97: #979797;
$gray-33: #333333;
$gray-66: #666666;
$gray-f2: #F2F1F0;
$gray-f0: #F0F0F0;
$gray-f7: #F7F7F7;
$gray-fa: #FAFAFA;
$gray-d8: #D8D8D8;
$gray-a1: #A1A1A1;
$gray-e5: #E5E5E5;

$gap-xxl: 40px;
$gap-xl: 30px;
$gap-l: 20px;
$gap-m: 15px;
$gap-s: 10px;

$breakpointTablet: 'screen and (min-width: 768px)';
$breakpointDesktop: 'screen and (min-width: 1200px)';

/* dont need */
$accent-blue: #068FFF;
$accent-yellow: #FFD800;
$accent-orange: #F76B1C;
$yellow-dark: #FFB100;
$yellow-light: #FFE88C;